{% extends "aquadex/home.html" %}

{% block content %}
<style>
    .title {
        padding-top: 90px;
        padding-left: 1000px;
        padding-bottom: 20px;
        color: #E9E3E5;
        font-family: "Montserrat";
    }

    .psswrdbtn {
        width: 150px;
        height: 35px;
        background-color: #20DF7F;
        box-shadow: rgba(27, 8, 120, .2) 2px 2.5px;
        border: none;
        border-radius: 5px;
        margin-left: 140px;
    }

    .box {
        padding: 20px;
        border-radius: 5px;
        width: 450px;
        margin: 0 auto;
    }

    .old_password {
        width: 410px;
        height: 70px;
        background-color: #224957;
        color: #E9E3E5;
        box-shadow: rgba(27, 8, 120, .2) 2px 2.5px;
        border: none;
        border-radius: 5px;
        margin-bottom: 2.5rem;
    }

    .new_password1 {
        width: 410px;
        height: 70px;
        background-color: #224957;
        color: #E9E3E5;
        box-shadow: rgba(27, 8, 120, .2) 2px 2.5px;
        border: none;
        border-radius: 5px;
        margin-bottom: 2.5rem;
    }

    .new_password2 {
        width: 410px;
        height: 70px;
        background-color: #224957;
        color: #E9E3E5;
        box-shadow: rgba(27, 8, 120, .2) 2px 2.5px;
        border: none;
        border-radius: 5px;
        margin-bottom: 2.5rem;
    }
</style>
<h2 class="title">Change Your Password</h2>
<div class="box">
    <form method="post" action="">
        {% csrf_token %}  
        <div> 
            <input type="password" name="old_password" placeholder="  Old Password" class="old_password">
        </div>
        <div> 
            <input type="password" name="new_password1" placeholder="  New Password" class="new_password1">
        </div>
        <div> 
            <input type="password" name="new_password2" placeholder="  Confirm New Password" class="new_password2">
        </div> 
        <button class="psswrdbtn" type="submit">Change Password</button> 
        {% for message in messages %}
        <p id="messages">{{ message }}</p>  
        {% endfor %} 
    </form>
</div> 
{% endblock %}
